################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/src/MES.Common/obj/Debug
/src/MES.DAL/bin/Debug
/src/MES.DAL/obj/Debug
/src/MES.Models/bin/Debug
/src/MES.Models/obj/Debug
/src/MES.UI/bin/Debug
/src/MES.UI/obj/Debug
